.khan__buy-link {
  color: #2f80ed;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  margin: 0;
  text-decoration: none;
  transition: opacity .4s ease;
  align-self: flex-start;
}

.khan__buy-link:hover {
  opacity: .6;
}
